<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Niene's JURK</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
	<h1>Niene's Jurk</h1>
	<button onClick="SendSignal('topje')" class="button" id="topje" style="background-color:rgb(255,136,0);">
		<p>TOP AAN/UIT</p>
	</button>
	<button onClick="SendSignal('OFF')" class="button" style="background-color:rgb(255,0,0);">
		<p>OFF</p>
	</button>
	<div class="dropdown">
		<label>Helderheid:</label>
		<select id="myDropdown" class="dropdown-content" >
			<option onClick="SendSignal(10)">10</option>
			<option onClick="SendSignal(50)">50</option>
			<option onClick="SendSignal(100)">100</option>
			<option onClick="SendSignal(255)">255</option>
		</select>
	</div>

	<div>
		<h2>Programma:</h2>
		<button onClick="SendSignal('P1')" class="button" style="background-color:rgb(255,136,0);">
			<p>Wipe</p>
		</button>
		<button onClick="SendSignal('P2')" class="button" style="background-color:rgb(255,136,0);">
			<p>Low energy</p>
		</button>
		<button onClick="SendSignal('P3')" class="button" style="background-color:rgb(255,136,0);">
			<p>Rainbow</p>
		</button>
	</div>
	<div>
		<h2>Kleur:</h2>
		<button onClick="SendSignal('red')" class="button color" style="background-color:rgb(255,0,0);">
		</button>
		<button onClick="SendSignal('blue')" class="button color" style="background-color:rgb(0,0,255);">
		</button>
		<button onClick="SendSignal('green')" class="button color" style="background-color:rgb(0,255,0);">
		</button>
		<button onClick="SendSignal('pink')" class="button color" style="background-color:rgb(255,30,30);">
		</button>
	</div>
	
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>