<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Niene's JURK</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
	<h1>Hello World</h1>
	<div onClick="SendSignal('P1')" class="button" style="background-color:rgb(255,136,0);">
		<p>Programma 1</p>
	</div>
	<div onClick="SendSignal('P2')" class="button" style="background-color:rgb(255,136,0);">
		<p>Programma 2</p>
	</div><div onClick="SendSignal('P3')" class="button" style="background-color:rgb(255,136,0);">
		<p>Programma 3</p>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>